@import '../../scss/variables/_colors.scss';

.schedule {
  min-height: 200px;
  background: $foreground-color;
  color: $background-color;
  .title {
    margin: 0;
  }
  .googleCalendar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 600px){
      position: relative;
      transform: none;
    }
  }
}

.dayWrapper {
  .dayTitle {
    // transition: background-color 350ms ease;
  }
  .dayTitleActive {
    background-color: $primary-color;
    color: $background-color;
    transition: background-color 350ms ease;
    button svg {
      color: $background-color !important;
    }
  }
  .activity {
    margin: 10px 0;
    .time {
      font-weight: bold;
    }
  }

}